 
  /*..................................logo css.................................*/
  #logo{
    font-size: 48px;
    text-shadow: 2px 2px white;
    color:grey;
    font-family:sans-serif;

  }


  body{
    background-color: #DCDCDC !important;
  }

  /*.....................search bar............................................*/
     #search-bar{
    width: auto;
  }
  /*..........................option in header.................................*/
  .options ul li{
    display: inline;
  }
  #options a{
    color: white !important;
  }


  /*..................................header....................................*/
  #header{
    background-color:black;
  }
 

  /*..........................nav bar -css......................................*/

    .navbar-nav li:hover {
      background:black;
      
      font-size: 18px;
      }
    .navbar-nav a {
      text-decoration: none;
      font-family: sans-serif;
      }
 
  #mynavbar{
    background-color:black;
  }

  /*....................................Carousel...................................*/

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      e
      margin:auto;
  }
  .carousel {
    margin-top: 100px;

  }
  #myCarousel .item{
    height:auto;
  }
  #silde1{
    background: url(../img/car2.jpg) top center no-repeat;
  }
  #silde2{
    background: url(../img/Car1.jpg) top center no-repeat;
  }
  #silde3{
    background: url(../img/car3.jpg) top center no-repeat;
  }
  #silde4{
    background: url(../img/car4.jpg) top center no-repeat;
  }
  #silde5{
    background: url(../img/car5.jpg) top center no-repeat;
  }
  #silde6{
    background: url(../img/car6.jpg) top center no-repeat;
  }

  /*....................................Media queries for mobile..........................*/

  @media (max-width: 480px)
  {
  #myCarousel .carousel-caption{
    font-size: 10px;
  }
  #myCarousel .carousel-caption h2{
    font-size: 14px;
  }

  #myCarousel
  {
    margin-top:220px;
  }
 #myCarousel .item{
    height: 142px;
  }
  #silde1{
    background: url(../img/car2.jpg) top center no-repeat;
  }
  #silde2{
    background: url(../img/Car1.jpg) top center no-repeat;
  }
  #silde3{
    background: url(../img/car3.jpg) top center no-repeat;
  }
  #silde4{
    background: url(../img/car4.jpg) top center no-repeat;
  }
  #silde5{
    background: url(../img/car5.jpg) top center no-repeat;
  }
  #silde6{
    background: url(../img/car6.jpg) top center no-repeat;
  }

}
}
/*.................................................Media queries for tablets................*/


@media (max-width: 768px){

  #myCarousel .carousel-caption{
    font-size: 10px;
  }
  #myCarousel .carousel-caption h2{
    font-size: 14px;
  }
  
  
 #myCarousel .item{
    height:200px;
  }
  
 

  #silde1{
    background: url(../img/car2.jpg) top center no-repeat;
  }
  #silde2{
    background: url(../img/Car1.jpg) top center no-repeat;
  }
  #silde3{
    background: url(../img/car3.jpg) top center no-repeat;
  }
  #silde4{
    background: url(../img/car4.jpg) top center no-repeat;
  }
  #silde5{
    background: url(../img/car5.jpg) top center no-repeat;
  }
  #silde6{
    background: url(../img/car6.jpg) top center no-repeat;
  }

}

}
/*.................................................media queries desktop.......................*/


@media (min-width:1200px){
  #myCarousel
  {

  }
  #myCarousel .item{
  height: 700px;
  }
  #silde1{
    background: url(../img/car2.jpg) top center no-repeat;
  }
  #silde2{
    background: url(../img/Car1.jpg) top center no-repeat;
  }
  #silde3{
    background: url(../img/car3.jpg) top center no-repeat;
  }
  #silde4{
    background: url(../img/car4.jpg) top center no-repeat;
  }
  #silde5{
    background: url(../img/car5.jpg) top center no-repeat;
  }
  #silde6{
    background: url(../img/car6.jpg) top center no-repeat;
  }


}


  /*................................big callout font -css......................*/


  .well page-header{
    margin-top: 0;
  }
  .well page-header h1{
    margin-top: 0;
  }

  /*....................................Features, features-heading-css.................*/

@media only screen and (min-width: 1366px) {
  .feature img {
    height: 220px !important;
    width: 230px !important;
    margin-left: 50px !important;
  }
}
@media only screen and (max-width: 1280px) {
  .feature img {
    height: 210px !important;
    width: 220px !important;
    margin-right: 40px !important;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  .feature img {
    height: 190px !important;
    width: 200px !important;
    margin-left: 40px !important;
  }
}



@media only screen and (max-width: 768px) {
  .feature img {
    height:173px !important;
    width: 184px !important;
    margin-left: 20px !important;
  }
}
@media only screen and (max-width: 640px) {
  .feature img {
    height:180 !important;
    width: 195px !important;
    margin-left: 12px !important;
  }
}
@media only screen and (max-width: 480px) {
  .feature img {
    height: 170px !important;
    width: 180px !important;
    margin-left: 25% !important;
  }
}
@media only screen and (max-width: 340px) {
  .feature img {
    height: 140px !important;
    width: 150px !important;
    margin-left: 15% !important;
  }
}
  

  
  #features table {
    border-collapse: collapse;
    width: 100%;
  }
  /*.......................................table properties.....................*/
  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even){background-color: #f2f2f2
  }
  #bigCallout {

  margin-top: 50px;
  }
  /*....................................more info -css..........................*/


  .tabbable img.thumbnail{
  margin: 0 20px 10px 0;
  }

  /*....................................footer css...................................*/


  .f1{
  background-color:black;
  color: grey;
  clear: both;
  height:200px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
  padding-right: 20px;
  margin-top: 30px;
 
}
  .f1 p{
    font-family: sans-serif;
    font-size: 14px;
  }
  .f1 li{
    display: inline;
    font-size: 10px;
    text-align: center;
    padding: 0 20px;
    float: right;
    }

    .f1 li a {
      text-decoration: none;
      font-size: 10px;
      font-family: arial;
      color: white;   
    }


  /*..........................................................css-ends here...........................................*/